<!DOCTYPE html>
<head>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Go Medium Blur</title>
  </head>
  <body class="container mx-auto">
    <div id="app">
      <h1 class="text-2xl">go-medium-blur</h1>
      <label for="upload" class="block">
        {{ isLoadingText }}
      </label>
      <input id="upload" type="file" name="file" accept="image/*" @change="uploadImage" :disabled="isLoading" />

      <ul class="mt-2">
        <li v-for="item in items" class="flex mb-6">
          <div class="w-1/3">
            <p><strong>Blur</strong>Size: {{ byteToSize(item.blur.size) }}</p>
            <img :src="item.blur.path" class="w-full" />
          </div>
          <div class="w-1/3">
            <p><strong>Optimize</strong>Size: {{ byteToSize(item.optimize.size) }}</p>
            <img :src="item.optimize.path" class="w-full" />
          </div>
          <div class="w-1/3">
            <p><strong>Origin</strong>Size: {{ byteToSize(item.origin.size) }}</p>
            <img :src="item.origin.path" class="w-full" />
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>

<script>
  const vm = new Vue({
    el: '#app',
    data() {
      return {
        items: [],
        isLoading: false
      }
    },
    computed: {
      isLoadingText() {
        return this.isLoading ? '読込中' : '画像をアップロード↓'
      }
    },
    methods: {
      async uploadImage(e) {
        const image = e.target.files[0]
        const formData = new FormData()
        formData.append('file', image)

        const options = {
          method: 'POST',
          body: formData
        }
        try {
          this.isLoading = true
          const res = await fetch('/upload', options)
          const json = await res.json()
          this.items.push(json.images)
        } catch (e) {
          console.log(e)
        } finally {
          this.isLoading = false
        }
      },
      byteToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return '0 Byte'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)))
        return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i]
      }
    },
    async mounted() {
      const res = await fetch('/index')
      const json = await res.json()
      this.items.push(json.images)
    }
  })
</script>
